.forecast {
  margin-top: 20px;
}

#forecast-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-top: 15px;
}

.forecast-card {
  min-width: 120px;
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
}

.forecast-card i {
  font-size: 25px;
  margin-top: 10px;
}
